body {
  font-family: Arial, sans-serif;
  background-color: grey;
}

form{
    background-image: url(".../images/test.png");
    width: 1520px;
    height: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 16px;
    padding: 120px 50px;
    box-shadow: 4px 4px 16px rgb(55, 22, 133);
}

legend{
    font-size: 2rem;
}

h1{
  position: absolute;
  top: 15%;
  left: 65%;
}

h3{
    position: absolute;
    top: 13%;
    left: 65%;
}

p{
    position: absolute;
    top: 70%;
    left: 65%;
}

label{
    position: relative;
    font-size: 1.1rem;
    display:  block;
    top: 27%;
    left: 60%;
    color: rgb(85, 83, 83);
    display:  grid;
    width: 300px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

img{
    position: absolute;
    top: 2%;
    left: 97%;
}

input[type="text"], input[type="password"] {
    position: relative;
    top: 21%;
    left: 68%;
    display: block;
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error {
    position: absolute;
    top: 74.5%;
    left: 39%;
    color: red;
}

input[type="submit"] {
    position: absolute;
    top: 58%;
    left: 69%;
    width: 100px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    color: #007bff;
}